<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/styles.css"> 
    <link rel="stylesheet" href="/styles/login.css"> 
</head>
<body class="login-body">
    <header>

        <nav>
            <div class="menu-icon" id="menu-icon">
              &#9776; 
              <!-- Unicode for hamburger menu-icon -->
            </div>
  
            <div class="menu-backdrop" id="menu-backdrop"></div>
              <ul id="nav-links">
                  <li><a href="/">Wellness Feed</a></li>

              </ul>
          </nav>
    <h1>Register</h1>
</header>
<main id="login">
    <form action="/register" method="POST" id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login"> Login here</a></p>
</main>
    <div id="error-message"></div>

    
    <script>
        const menuIcon=document.getElementById('menu-icon');

const navLinks=document.getElementById('nav-links');
const menuBackdrop = document.getElementById('menu-backdrop');
menuIcon.addEventListener('click',()=>{
navLinks.classList.toggle('active');
menuBackdrop.classList.toggle('active');
})

menuBackdrop.addEventListener('click',()=>{
navLinks.classList.remove('active');
menuBackdrop.classList.remove('active');
});

    </script>
</body>
</html>