#search{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#search-input{
    width: 50vw;
    
}


#blogList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Space between blog cards */
    list-style: none;
    padding: 20px;
}

#blogList li {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: calc(50% - 20px); /* Ensure two cards per row */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#blogList li h3 {
    margin: 0 0 10px 0;
    font-size: 1.8em;
}

#blogList li p {
    margin: 10px 0;
}

#blogList li a {
    text-decoration: none;
    color: #40e0d0;
    font-weight: bold;
}

#blogList li a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #blogList li {
        width: 100%; /* One card per line */
    }
}

#load-more-button{
    padding: 10px 15px;
    background-color: #00d1b2; /* Turquoise button */
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#load-more-button:hover{
    background-color: #00b396;
}

#profileList {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between profile items */
}

#profileList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#profileList li p {
    margin: 0;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

#profileList li a {
    text-decoration: none;
    background-color: #40e0d0;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

#profileList li a:hover {
    background-color: #00b396;
}

@media screen and (max-width: 768px) {
    #profileList li {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    #profileList li a {
        align-self: flex-end;
    }
}
