/* Styles for Profile Tabs (Tags/Buttons) */
#profile-tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#profile-tabs button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#profile-tabs button.active {
    background-color: #007bff;
    color: white;
}

#profile-tabs button:hover {
    background-color: #007bff;
    color: white;
}

.profile-tab-button{
    padding: 10px 15px;
    background-color: #00d1b2; /* Turquoise button */
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Tab content hidden by default */
.tab {
    display: none;
}

/* Active tab content visible */
.tab.active {
    display: block;
}
