label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #40e0d0; /* Accent color */
}
.select2-container {
    width:100% !important; /* Ensure full width */
}

.select2-selection {
    background-color: #333 !important;
    color: white !important;
    border: 1px solid #40e0d0 !important;
    border-radius: 5px !important;
    padding: 8px !important;
    width: 100% !important;
}

.select2-selection__rendered {
    color: black!important; /* Text color inside select */
}

.select2-selection__placeholder {
    color: #b2e8f1 !important; /* Placeholder color */
}

.select2-dropdown {
    background-color: #333 !important;
    color: white !important;
}

.select2-results__option {
    color: white !important;
    background-color: #333 !important;
}